.header{
  display: flex;
  height: 4rem;
  padding: 0.8rem 1em;
  background: black;
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}


.title{
  margin-top: 1rem
}

.input{
  width: 100%;
  font-size: 1.2rem;
}

.button{
  background-color: darkgray;
  outline: 0;
}

.buttonimg{
  height: 100%;
  padding: 0.5em 0.2em;
}