.header{
  display: flex;
  height: 4rem;
  padding: 0.8rem 1em;
  background: black;
  color: white;
}

.logo a{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: white;
}




.input{
  width: 100%;
}

.button{
  background-color: darkgray;
  outline: 0;
}

.buttonimg{
  height: 100%;
  padding: 0.5em 0.2em;
}