*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    list-style: none;
}

header{
    position: relative;
    background-color: black;
    width: 100%;
    height: 60px;
}

.yt-logo{
    float: left;
}

.yt-logo img{
    width: 80px;
    height: 24px;
    margin: 15px 20px;
}

.search-fiedset{
    position: absolute;
    width: 940px;
    height: 40px;
    margin: 0;
    padding: 0;
    top:10px;
    right:10px;
}

.search-fiedset form{
    float: left;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}

.search-fiedset form input{
    float: left;
    width: 890px;
    height: 37px;
}


.search-fiedset form button{
    width: 42px;
    height: 36px;
    float: left;
    padding: 5px;
    background-color: black;
    border: none;
}

.search-fiedset form button img{
    width: 25px;
    height: 25px;
}